# NEVER FORGET: Git is case-sensitive!

**/__history/
**/__recovery/
Tests/BigIntegers/Win32/**
Tests/BigIntegers/Win64/**
Tests/BigIntegers/OSX32/**
Tests/BigIntegers/out/**
Tests/BigIntegers/LibrarySupport/**
Tests/BigDecimals/Win32/**
Tests/BigDecimals/Win64/**
Tests/BigDecimals/OSX32/**
Tests/BigDecimals/out/**
Tests/BigRationals/Win32/**
Tests/BigRationals/Win64/**
Tests/BigRationals/OSX32/**
Tests/BigRationals/out/**
Tests/BigIntegers/__history/**
**/ModelSupport_bigintegerdevelopmenttests/**
Tests/BigDecimals/__history/**
Tests/BigRationals/__history/**
Source/Win32/**
Source/Win64/**
Source/OSX32/**
Dev/**
**/AddTests/**
**/*.deployproj
**/Entitlement.TemplateOSX32.xml
DataGenerators/BigRationals/BigRationalTestDataGenerator/nbproject/private/
DataGenerators/BigRationals/BigRationalTestDataGenerator/build/
DataGenerators/BigRationals/BigRationalTestDataGenerator/dist/
.DS_Store
._.DS_Store
info.plist.TemplateOSX.xml
*.dproj.local
*.dsk
*.~dsk
*.identcache
*.stat
*.dcu
*.exe
*.dll
*.tvsconfig
*.groupproj
*.groupproj.local
*.todo
*.txaPackage
*.txvpck
**/Project119.*
ls-tree.txt
DataGenerators/BigIntegers/Java/BigIntegerTestDataGenerator/nbproject/private/**
DataGenerators/BigIntegers/Java/BigIntegerTestDataGenerator/build/**
DataGenerators/BigIntegers/Java/BigIntegerTestDataGenerator/dist/**
DataGenerators/BigIntegers/BigIntegerTestGenerator/BigIntegerTestGenerator/bin/**
DataGenerators/BigIntegers/BigIntegerTestGenerator/BigIntegerTestGenerator/obj/**
DataGenerators/BigIntegers/Java/Divisions/**
DataGenerators/BigIntegers/Java/Exponentiation/**
DataGenerators/BigIntegers/Java/BigNumSpeedTests/**
DataGenerators/BigIntegers/Java/FibonacciSpeedTest/**
DataGenerators/BigIntegers/Java/FactorialSpeedTest/**
DataGenerators/BigIntegers/Java/AddTests/nbproject/private/
DataGenerators/BigIntegers/Java/AddTests/build/
/DataGenerators/BigIntegers/Java/CastToIntTest/nbproject/private/
/DataGenerators/BigIntegers/Java/CastToIntTest/build/
/DataGenerators/BigDecimals/BigDecimalTestDataGenerator/nbproject/private/